<div class="replacements-wrapper">
    <h1>{{ 'selectdetail'|t }}</h1>
    {% apply spaceless %}
        <div class="find">
            <form name="findByName" onSubmit="return checkName(this.partName)"
                  id="findByName">
                <div id="NameInput" class="g_input">
                    <input placeholder="{{ 'findpartsByName'|t }}" class="catalog_search_input" name="partName"
                           type="text"
                           id="partName" size="50" value="{{ partName|escape }}"/>
                    <input type="submit" class="btn search" name="oemSubmit" value="" id="oemSubmit"/>
                </div>

                <input type="hidden" name="task" value="fulltextsearch"/>
                <input type="hidden" name="ssd" value="{{ vehicle.ssd|escape ?: ssd|escape }}"/>
                <input type="hidden" name="vid" value="{{ vehicle.vehicleid|escape }}"/>
                <input type="hidden" name="c" value="{{ catalog.code|escape }}"/>
            </form>
        </div>
    {% endapply %}
    {% apply spaceless %}
        {% if details.parts|length %}
            <div>{{ 'SELECTBRANDDESC'|t }}</div>
            {% for part in details.parts %}
                <div class="brand-section">
                    {% if supportApplicability %}
                        {% set url = createUrl('applicabilitydetails', '', '', {
                            'c': catalog.code,
                            'vid': vehicle.vehicleId,
                            'oem': part.oem,
                            'ssd': vehicle.ssd
                        }) %}
                        <a class="title" href="{{ url }}">{{ part.oem }} {{ part.name }}</a>
                    {% else %}
                        {{ part.oem }} {{ part.name }}
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <div>{{ 'unitDetailsNoResulst'|t }}</div>
        {% endif %}
    {% endapply %}
</div>