{% block details_result %}
    {% for detail in details.oems %}
        {% set detailLink = createUrl(
            'aftermarket',
            'findOem', '' ,
            { 'detail_id': detail.partId, 'options[]': options|join('&options[]=') }
        ) %}
<div class="am-detail">
    <div class="am-detail-heading">
            <span><a data-url="{{ detailLink }}"
                     href="{{ detailLink }}">{{ detail.formattedoem }}</a></span>
        <span><a class="manufacturerInfo" href="javascript:void(0)" id="manufacturerInfo{{ detail.partId }}"
                 data-url="{{ createUrl('aftermarket', 'manufacturerinfo', '' , { 'manufacturerid': detail.manufacturerid }) }}">{{ detail.manufacturer }}</a></span>
        <span>{{ detail.weight ? 'Weight: ' ~ detail.weight : '' }}</span>
        <span>{{ detail.volume ? detail.volume : '' }}</span>
        <span>{{ detail.dimensions ? detail.dimensions.d1 ~ 'X' ~ detail.dimensions.d2 ~ 'X' ~ detail.dimensions.d3 : '' }}</span>
        <br/>
        {% for property in detail.properties %}
            <span class="am-detail-property-name">{{ property.propertyName }}: </span>
            <span class="am-detail-property-value">{{ property.value }}</span><br/>
        {% endfor %}
    </div>
    <div class="flex images-wrapper">
        {% for image in detail.images %}
            <div data-full="{{ image.filename }}" class="aftermarket-detail-image">
                <img src="{{ image.thumbnailfilename }}" alt="">
            </div>
        {% endfor %}
    </div>
    {% if detail.replacements %}
    <table class="collapse table guayaquil_tablecatalog" style="width: 100%">
        <tr>
            <th></th>
            <th>Бренд</th>
            <th>Артикул</th>
            <th>Наименование</th>
            <th>Вес</th>
            <th>Объем</th>
            <th>Габаритные размеры</th>
        </tr>
        {% for replacement in detail.replacements %}
        {% set replacementManufacturerLink = createUrl(
            'aftermarket',
            'manufacturerinfo', '' ,
            { 'manufacturerid': replacement.part.manufacturerid }) %}

        {% set replacementDetailLink = createUrl(
        'aftermarket',
        'findOem', '' ,
        { 'detail_id': replacement.part.partId, 'options[]': options|join('&options[]=') }) %}

        <tr>
            <td>{{ replacement.type ~ ' ' ~ replacement.way }}</td>
            <td>
                <a class="manufacturerInfo"
                   id="manufacturerInfo{{ replacement.part.partId }}"
                   href="javascript:void(0)" id="manufacturerInfo"
                   data-url="{{ replacementManufacturerLink }}">
                    {{ replacement.part.manufacturer ? replacement.part.manufacturer : '' }}
                </a>
                <script type="text/javascript">
                    jQuery('#manufacturerInfo{{ replacement.part.partId }}').off('click');
                    jQuery('#manufacturerInfo{{ replacement.part.partId }}').on('click', function () {
                        var $this = jQuery(this);
                        $this.colorbox({
                            href: $this.data('url'),
                            title: '',
                            close: ''
                        });
                    });
                </script>
            </td>
            <td><a class="am-oem" data-url="{{ replacementDetailLink }}"
                   href="{{ replacementDetailLink }}">{{ replacement.part.formattedoem ? replacement.part.formattedoem : '' }}</a>
            </td>
            <td>{{ replacement.part.name ? replacement.part.name : '' }}</td>
            <td>{{ replacement.part.weight ? replacement.part.weight : '' }}</td>
            <td>{{ replacement.part.volume ? replacement.part.volume : '' }}</td>
            <td>{{ replacement.part.dimensions ? detail.part.dimensions.d1 ~ 'X' ~ detail.part.dimensions.d2 ~ 'X' ~ detail.part.dimensions.d3 : '' }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endfor %}
    {% if not details.oems|length %}
    <div class="details-not-found">
        <span>{{ 'unitDetailsNoResulst'|t }}</span>
    </div>
{% endif %}
    <script type="text/javascript">
        //jQuery(document).ready(function () {
        //    jQuery(document).off('click', 'a.am-oem');
        //    jQuery(document).on('click', 'a.am-oem', function (event) {
        //
        //        event.stopPropagation();
        //        event.preventDefault();
        //
        //        showPreloader();
        //
        //        var url = jQuery(this).data('url');
        //
        //        jQuery.ajax({
        //            url: url + '&format=raw',
        //            success: function (data) {
        //                var detailsContainer = jQuery(document).find('div#content');
        //                if (data) {
        //                    detailsContainer.html(data);
        //                }
        //                window.history.pushState([], '', url);
        //                hidePreloader();
        //            }
        //        });
        //    });
        //});
    </script>
{% endblock %}