{% use 'blocks/vinSearch.twig' %}
{% use 'blocks/frameSearch.twig' %}
{% use 'blocks/vinFrameSearch.twig' %}
{% use 'blocks/oemSearch.twig' %}
{% use 'blocks/plateSearch.twig' %}

{% block searchTable %}
    {% apply spaceless %}
        <div>
            <div class="search-table-wrapper">
                <div class="tabs">
                    <div class="controls">
                        <button data-tab="#vin-frame-tab" class="response-data-link active">{{ 'searchbyvinframe'|t }}</button>
                        {% if config.showApplicability %}
                            <button data-tab="#oem-tab" class="response-data-link">{{ 'searchbyoemtab'|t }}</button>
                        {% endif %}
                        {% if config.plateSearch %}
                            <button data-tab="#plate-tab" class="response-data-link">{{ 'searchbyplatetab'|t }}</button>
                        {% endif %}
                    </div>
                    <div class="content">
                        <div id="vin-frame-tab" class="tab active">
                            <div class="catalogs-search">
                                {{ block('vinFrameSearch') }}
                            </div>
                        </div>
                        {% if config.showApplicability %}
                            <div id="oem-tab" class="tab">
                                <div class="catalogs-search">
                                    {{ block('oemSearch') }}
                                </div>
                            </div>
                        {% endif %}
                        {% if config.plateSearch %}
                            <div id="plate-tab" class="tab">
                                <div class="catalogs-search">
                                    {{ block('plateSearch') }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endapply %}
{% endblock %}