<body style="margin: 0;">
<div class="start">
    <div class="start-desc">
        <h1>Guayaquil</h1>
        <span>{{ 'welcomeText'|t }}</span>
        <div class="start-buttons">
            <a href="{{ createUrl('catalogs') }}">{{ 'welcomeLinkOem'|t }}</a>
            <a href="{{ createUrl('aftermarket') }}">{{ 'welcomeLinkAm'|t }}</a>
        </div>
    </div>
</div>
</body>