{% use('blocks/vehicles.twig') %}
{% block groupedVehicles %}
    {% apply spaceless %}
        <div class="grouped-vehicles">
            <div>
                {% block vehicle_row %}
                    {% for name, vehicle in groupedVehicles %}
                        <h3>{{ vehicle.brand  ~ ' ' ~ name }}</h3>
                        <table class="table collapse vehicle-modifications">
                            {{ block('table_header') }}
                            {{ block('table_row') }}
                            {% if vehicle.children|length > 0 %}
                                <tr>
                                    <td colspan="99" class="children-table-wrapper hidden">
                                        <table class="table collapse vehicle-modifications">
                                            {{ block('table_header') }}
                                            {% for name, vehicle in vehicle.children %}
                                                {% set child = true %}
                                                {{ block('table_row') }}
                                            {% endfor %}
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="99" class="show-more-wrapper">
                                        <a href="javascript:void(0)" class="show-more"
                                           data-show-more-text="{{ 'showMoreVehicles'|t }}"
                                           data-hide-more-text="{{ 'hideMoreVehicles'|t }}">
                                            {{ 'showMoreVehicles'|t }}
                                        </a>
                                        <div class="arrow-wrapper">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink"
                                                 enable-background="new 0 0 129 129">
                                                <g>
                                                    <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/>
                                                </g>
                                            </svg>
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                        </table>
                    {% endfor %}
                {% endblock %}
            </div>
        </div>
    {% endapply %}
{% endblock %}